package partials 

templ CreateLink() {
	<div class="py-4 flex flex-col gap-4 text-center items-center content-center">
		// show "Create a link" if user has pre-existing data
		<button hx-get="/edit/link" hx-swap="outerHTML settle:1s" class={ "drop-shadow-sm flex bg-zinc-100 rounded-xl text-zinc-900 font-semibold tracking-tight text-base" } type="button">
			<span class="px-20 py-3 ">
				<p>Create a new link</p>
			</span>
		</button>
	</div>
}
