package partials 

templ Login() {
	<div class="flex flex-col gap-4">
		<button class="bg-indigo-500 rounded-lg">GitHub</button>
		<a href="/" class="bg-indigo-500 rounded-lg px-16 py-4 text-zinc-100 flex content-center items-center">Discord</a>
	</div>
}
