package partials 

templ ATag (href templ.SafeURL, text string) {
	<style type="text/css">
	
	.rounded-xl {
		border-radius: 0.75rem;
	}
	.bg-zinc-100 {
		background-color: #F5F5F5;
	}
	.text-zinc-900 {
		color: #333333;
	}
	.px-4 {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.py-2 {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	</style>
	<a href={ href } class={ "px-4  py-2 items-center gap-2 flex " }>
		{ children... }
		<span>{ text }</span>
	</a>
}
