package buttons 

templ CreateButton() {
	<button
		class="drop-shadow-sm flex bg-zinc-100 rounded-xl text-zinc-900 font-semibold tracking-tight text-base"
		type="submit"
	>
		<span class="px-8 rounded-sm  w-full text-center py-3 text-zinc-100 bg-indigo-500">
			<p>Create</p>
		</span>
	</button>
}
