
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: 216 100% 1%;
    --white: 0 0% 100%;

    --black-foreground: var(--white);
    --white-foreground: var(--black);

    --green: 159 100% 70%;
    --green-foreground: var(--black);

    --orange: 42 99% 71%;
    --orange-foreground: var(--black);

    --blue: 204 58% 74%;
    --blue-foreground: var(--black);

    --red: -28 100% 72%;
    --red-foreground: var(--black);

    --font-sans: "Inter", sans-serif;
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --black: 216 100% 1%;
    --white: 0 0% 100%;

    --black-foreground: var(--white);
    --white-foreground: var(--black);

    --green: 159 100% 70%;
    --green-foreground: var(--black);

    --orange: 42 99% 71%;
    --orange-foreground: var(--black);

    --blue: 204 58% 74%;
    --blue-foreground: var(--black);

    --red: -28 100% 72%;
    --red-foreground: var(--black);

    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border font-sans;
  }
  body {
    @apply bg-orange text-green-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }  
  input {
        @apply px-4 py-2 w-full focus-visible:outline-[1px] focus-visible:outline-zinc-300;
  }
}


@layer utilities {

  
    .btn {
        @apply px-4 py-2 rounded-md;
    }

    .primary-btn {
        @apply bg-primary text-primary-foreground;
    }

    .brutal-button {
      @apply border-black rounded-md border-2 shadow-xl hover:shadow-sm active:shadow-none data-[state=open]:shadow-none shadow-black transition-all;
    }

    .brutal-notification {
      @apply border-black rounded-md border-2 shadow-sm hover:shadow-xs active:shadow-none data-[state=open]:shadow-none shadow-black transition-all;
    }

    .island {
			background-color: whitesmoke;
			position: absolute;
			left: 50%;
			top: 0.4rem;
			transform: translateX(-50%);
			border-radius: 20px;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
			margin-bottom: 3px;
			padding-left: 0.625rem;
			padding-right: 0.625rem;
			outline: #52a9ff;
		}
		.island-center {
			padding-left: 0.625rem;
			padding-right: 0.625rem;
			justify-content: space-between;
			align-items: center;
			display: flex;
			height: 28px;
			position: relative;
		}
		.popup-title {
			margin-bottom: 0px;
		}
		.popup-title h2 {
			font-size: 0.8rem;
			font-weight: 400;
			font-variant-numeric: slashed-zero;
			font-variant-ligatures: none;
			margin: 0;
		}
		.popup-close {
			text-align: right;
		}
		.popup-close a {
			color: #999;
			font-size: 20px;
			text-decoration: none;
		}
		.popup-close a:hover {
			color: #000;
		}

  
}