package partials

templ Footer () {
	<footer>
		<a href="/" class="flex py-10 text-center justify-center items-end gap-2">
			<p class="font-semibold text-zinc-700 hover:text-zinc-900   transition-colors">LinkGoGo</p>
		</a>
	</footer>
}
