package partials 

templ ProfileHeader(avatar string, name string, bio string) {
	<div class="py-8 flex flex-col items-center gap-4">
		<img src={ avatar } alt={ name + "'s avatar" } class="rounded-full h-24 w-24"/>
		<div class="gap-2 flex flex-col items-center">
			<h1 class="text-2xl tracking-tight font-bold text-zinc-950">{ name }</h1>
			<h2 class="text-base text-zinc-700 font-medium">{ bio }</h2>
		</div>
	</div>
}
