package shared 

import "github.com/zmzlois/LinkGoGo/web/templates/partials"

templ Background () {
	<style type="text/css">
		.min-height {
			min-height: calc(100vh - 18vh);
		}
		</style>
	<div class="relative inset-0 z-0">
		@partials.DynamicIslandTop()
		<div class=" py-10 h-full flex flex-col ">
			<div class="min-height">
				{ children... }
			</div>
			@Footer()
		</div>
	</div>
}
